body {
    border: 4px solid;
    /*SUPPOSE IF OUR IMAGE IS GOING OUTSIDE THE BORDER*/
    /*WE CAN US DISPLAY*/
    display: flow-root;
}

#img1 {
    /*ADDING THE FLOAT PROPERTY FOR LEFT SIDE ON THE IMAGE*/
    float: left;
    border: 4px solid black;
    margin-right: 10px;
}

#img2 {
    /*ADDING THE FLOAT PROPERTY FOR LEFT SIDE ON THE IMAGE*/
    float: right;
    border: 4px solid black;
    margin-right: 10px;
}