h1{
    /*ADDING A TEXT SHADOW */
    /*FIRST NUMBER IS FOR THE HORIZONTAL OFFSET*/
    /*SECOND NUMBER IS FOR VERTICAL OFFSET*/
    /*THIRD NUMBER IS FOR THE BLUR EFFECT*/
    text-shadow: 4px 4px 2px red;
}
h2{
    /*ADDING MORE THAN ONE SHADOW*/
    /*EACH SHADOWS ARE SEPERATED IN ONE TEXT SHADOW WITH COMMA*/
    /*THE SECOND SHADOW IS IN NEGATIVE TO FORM DIAGONALLY*/
    text-shadow: 4px 4px 2px red , -4px -4px 2px blue ;
}
#a{
    /*CREATING A BOX*/
    width: 250px;
    height: 250px;
    background-color: pink;
    /*GIVING A SHADOW TO THE BOX*/
    /*FIRST NUMBER IS FOR THE HORIZONTAL OFFSET*/
    /*SECOND NUMBER IS FOR VERTICAL OFFSET*/
    /*THIRD NUMBER IS FOR THE BLUR EFFECT*/
    box-shadow: 3px 3px 5px;
}